*.pyc
*.DS_Store
*.mo
.settings/


MEDIA/
web_app/magic/settings/local_settings.py
web_app/.cache/
local_fabfile.py

foreman.procfile
celeryev.pid
_generated_media*
reports/
testing/

commands.txt
.~lock.*
celerybeat.pid
doc/gbk/*.html
doc/gbk/wzs/*.html
.idea/
.pydevproject
/.metadata/
trello_settings.py

# testing files
testing.py


# pytest
.cache