{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "bootstrap-4.0.0-beta-dist/css/bootstrap-reboot.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-4.0.0-beta-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-4.0.0-beta-dist/css/bootstrap-grid.min.css" %}">
    <script src="{% static "bootstrap-4.0.0-beta-dist/js/bootstrap.min.js" %}" ></script>
    <title>Magic card game</title>
</head>
<body>
<div class="container-fluid">
    {% block container %}{% endblock %}
</div>
</body>
</html>