{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "bootstrap-4.0.0-beta-dist/css/bootstrap-reboot.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-4.0.0-beta-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-4.0.0-beta-dist/css/bootstrap-grid.min.css" %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/magic-favicon.png" %}"/>
    {% block stylesheet %}{% endblock stylesheet %}
    <script src="{% static "jquery/jquery-3.1.1.slim.min.js" %}" ></script>
    {% block javascript %}{% endblock javascript %}
    <title>Magic card game</title>
</head>
<body>
<div class="container-fluid">
    {% block container %}{% endblock %}
</div>
</body>
</html>